# Python
__pycache__/
*.pyc
.ipynb_checkpoints/
ipynb/

# Virtual environment
venv/

# Конфиденциальные данные
creds.ini

# Other
logs/
data/
*.rtf
*.docx

# Системные файлы macOS / VSCode
.DS_Store
.vscode/